body{
    font-family: 'Luxurious Roman', cursive;
    margin: 0 ;
    padding: 0;
}
.oneside-border{
    border-left: 5px solid;
    border-image: linear-gradient(deepskyblue,dodgerblue);
    border-image-slice: 1;
    padding-left: 8px;
    
}

h1{
    font-size: 45px;
}
.half-width1 p{
    padding-bottom: 20px;
}
.paragraph{
    padding-top: 25px;
    font-size: 0.8rem;
}
.color-name{
   color: coral;
}
section{
    display: flex;
    margin-left: 80px;
}
.half-width1{
    width: 50%;
    padding-left: 2%;
}
.half-width1 img{
    width: 70%;
}
.btn{
    background-image: linear-gradient(deepskyblue,dodgerblue);
    padding: 12px 35px;
    text-decoration: none;
    color: white;
    border-radius: 8px;

    
}
.title{
    text-align: center;
}
.parent-div{
    display: flex;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-left: 65px;
}
.card{
  width: 25%;
  padding: 15px;
  margin-left: 20px;
  border-radius: 10px;
  color:black;
  box-shadow: 2px 3px 10px grey;
  background-color: plum;
}
.card2{
    width: 25%;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
    color:black;
    box-shadow: 2px 3px 10px grey;
    background-color: slateblue;
  }
  .card3{
    width: 25%;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
    color:black;
    box-shadow: 2px 3px 10px grey;
    background-color: rosybrown;
  }
.card img{
    width: 40%;
}
.card2 img{
    width: 40%;
}
.card3 img{
    width: 40%;
}
.community{
    margin-top: 80px;
}

.footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 50px;

}
.my-card{
    width: 40%;
    border-radius: 8px;
    padding: 10px;
    border-radius: 10px;
    background-color: grey;

}
.about-me{
    margin-top: 60px;
    margin-bottom: 50px;
}
.my-card img{
    width: 40%;
}
.footer p{
    color: slategray;
    font-size: 0.7rem;
}
.footer-color{
    color: white;
}
